.container {
  display: grid;
  text-align: center;
}

.App-header {
  display: flex;
  height: 80%;
  padding: 10px;
  color: white;
  margin: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  padding: 20px;
}

.banners {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr 100px 100px;
grid-gap: 0px;
border-radius: 10px;
border: 1px black;
}

.banners > div{
display: flex;
justify-content: center;
align-items: center;
font-size: 1em;
border-radius: 0px;
}


.infobox {

font-size: 12px;
text-align: center;
width: 80%;
margin: 20px auto;

}

.letterbox {
width: 250px;
height: auto;
}

.h3 {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.form-group{
text-align: center;
width: 30%;
margin: 20px auto;

}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
border-radius: 10px

}

.headerOne {
padding: 10px;

}

.overdiv {
border: 1px solid grey;
}


.modalBox {
  position: fixed; /* create the modal window layer, and have it fill the entire screen */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,0.8); /* set the modal window layer's background color to a translucent black */
  z-index: 99999; /* put the layer on top of every other layer */
  opacity:0; /* make the layer invisible intially */
  pointer-events: none;
 

}

.modalBox:target {
  opacity:1; /* make the modal window layer visible */
  pointer-events: auto;
}

.modalBox > div {
  width: 500px; /* set the window's width */
  position: relative;
  margin: 10% auto; /* center the window horizontally */
  padding: 5px;
  background: #fff;
}

.signup {
text-align: left;
width: 35%;
margin: 20px auto;

}
