.container {
  display: grid;
  text-align: center;
}

.App-header {
   display: flex;
  height: 200px;
  padding: 10px;
  color: white;
  margin: auto;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.banners {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr 100px 1fr;
grid-gap: 0px;
border-radius: 10px;
border: 1px black;
}

.banners > div{
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;
border-radius: 0px;
}


.banners > div:nth-child(4n){
background-color: lightblue;
}

.banners > div:nth-child(5n){
background-color: yellow;
}

.banners > div:nth-child(6n){
background-color: red;
}

.letterbox {
position: relative;
text-align:center;
color:grey;
}

.h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}